#explore-bar {
  background-color: white;
  border-right: solid 1px rgb(215, 215, 215);
  padding: 10px;
  padding-right: 30px;
  width: 100%;
  height: 100vh;
}

#mobile-bar {
  display: none;
}

#explore-topbar {
  margin-top: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#explore-topbar h1 {
  font-size: 24px !important;
  padding: 0px !important;
}

.sidebar-divider-top {
  border-top: solid 1px rgb(215, 215, 215);
  margin-top: 18px;
}

.sidebar-divider {
  border-top: solid 1px rgb(215, 215, 215);
  margin-top: 40px;
}

.filtering-section {
  margin-top: 20px;
}

.sidebar-filter-item {
  margin-top: 40px;
}

#explore-bar h1 {
  padding-top: 50px;
  font-weight: 700;
  font-size: 26px;
}

.dropdown-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-title i {
  font-size: 30px;
}

.dropdown-title h3 {
  font-size: 20px;
  font-weight: 600;
}

.filter-result {
  margin-top: 20px;
}

.filter-selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-color: white;
  box-shadow: 0 0 10px rgba(177, 177, 177, 0.155);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.filter-selected h3 {
  color: rgb(65, 65, 65);
  font-size: 18px;
  font-weight: 500;
}

.filter-selected i {
  font-size: 26px;
  color: #007aff;
}

@media screen and (max-width: 1260px) {
  #explore-bar {
    background-color: white;
    border: none;
    padding: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
  }

  #mobile-bar {
    display: block;
    width: 100%;
  }

  #bar-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  #bar-button-container button {
    font-weight: 600;
  }

  #desktop-bar {
    display: none;
  }

  .filter-btn-style {
    width: 100%;
    border: solid 1px rgb(238, 238, 238);
    box-shadow: 0 3px 0px rgb(238, 238, 238);
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
  }

  .mobile-button-item {
    width: 50%;
    position: relative;
  }

  .sort-dropdown {
    z-index: 100;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    border: solid 1px rgb(238, 238, 238);
  }
}