/* .create-event-container {
  margin: auto;
  padding-left: 350px;
  padding-right: 350px;
}

#create-event-main {
  padding: 35px;
  border-radius: 15px;
  border: solid 1px rgba(128, 128, 128, 0.302);
}

#create-event-main input{
  margin-bottom: 20px;
  margin-top: 20px;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-bottom: solid 1px gray;
  font-size: 18px;
}

#create-event-main input:focus {
  outline: none;
}

#create-event-main label {
  margin-right: 20px;
}

#create-event-main select {
  margin-right: 50px;
  padding: 10px;
  border: none;
  border-bottom: solid 1px gray;
}

#create-event-main select:focus {
  outline: none;
} */
