#signin-page {
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
}



#logo-div {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#logoEv {
  height: 30px;
  cursor: pointer;
}

#container-b {
  max-width: 1272px;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 11;
  
}

#logo-vector {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#place-b > input:focus{
  outline: none;
  background-color:rgba(173, 216, 230, 0.3);
}

#image-section-b {
  width: 40%;
  margin-left: 20px;
}

#form-section {
  width: 60%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  margin-top: 10px;

}

#place-b {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 2px rgba(128, 128, 128, 0.2);
  margin-bottom: 20px;
}

#form-section img {
  height: 25px;
  margin-bottom: 20px;
}

#form-section h1 {
  font-size: 38px;
  margin-bottom: 30px;
  font-weight: bold;
}

#form-section input {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  padding: 20px;
  border-radius: 10px;
  border: solid 1px rgba(128, 128, 128, 0.168);
}

.btn-form{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  background-color: rgb(0, 53, 106);
  color: white;
  height: 50px;
  border-radius: 10px;
}

#logoEg {
  display: none;
}

.induk-btn{
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
}

.input-pass:focus{
  outline: none;
  border: none;
  background-color:#E8F0FE;
  }

.input-BTN:focus{
outline: none;
border: none;
background-color:#E8F0FE;
}

@media screen and (max-width: 1000px) {
  #image-section-b {
    display: none;
  }

  #form-section {
    width: 500px;
  }

  #place-b {
    width: 500px;
  }
}

@media screen and (max-width: 500px) {

  
#container-b {
  max-width: 1272px;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 1;
}

  #form-section {
    width: 200px;
  }
  #image-section-b{
width: 100%;
  }
  #place-b {
    width: 350px;
    background-color: white;
  }

  #form-section h1 {
    font-size: 23px;
  }

  #logoEv {
    display: none;
  }

  #form-section input {
    font-size: 13px;
  }
  


  #logo-div {
    background-color: rgb(0, 53, 106);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 0px;
    height: 250px;
    position: absolute;
    z-index: -5;
  }

  #logoEg {
    display: block;
    z-index:99;
    font-size: 20px;
    height: 28px;
    margin-bottom: 100px;
  }


  .induk-btn{
    width: 350px;
    height: 50px;
  }

  .makesure {
    font-size: 12px;
  }
}

