.gray{
    transition: all ease 0.2s;
}

.gray:hover{
transform:translateY(-2%);
}

.blue{
    transition: all ease 0.2s;
}

.blue:hover{
    transform:translateY(-2%)
}

.left{
    transition: all ease 0.2s;
}

.right{
    transition: all ease 0.2s;
}

.left:hover{
    transform: scale(105%);
}
.right:hover{
    transform: scale(105%);
}

@keyframes runText {
    0% {
      transform: translateX(110%);
    }
    100% {
      transform: translateX(-110%);
    }
  }
  
  .running-text-container {
    white-space: nowrap; /* Mencegah teks berjatuhan ke bawah */
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  .running-text {
    padding-right: 100%; /* Membuat teks memenuhi lebar container */
    animation: runText 35s linear infinite; /* Sesuaikan durasi animasi sesuai kebutuhan */
  }

