#explore-page {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

#explore-sidebar {
  width: 18%;
}

#explore-content {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 82%;
}

#explore-navbar {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#explore-filter {
  width: 25%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

#explore-filter select {
  background-color: white;
  border: solid 1px gray;
  border-radius: 10px;
  padding: 10px;
}

#explore-cards {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 1272px; */
  margin-left: auto;
  margin-right: auto;
}

#pagination {
  display: flex;
  justify-content: end;
  margin-top: 30px;
}

.desktop-button-item {
  width: 60%;
  position: relative;
}

.filter-btn-style-desktop {
  width: 100%;
  border: solid 1px rgb(238, 238, 238);
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-btn-style-desktop i {
  font-size: 22px;
}

.sort-dropdown {
  z-index: 10000;
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;
  border: solid 1px rgb(238, 238, 238);
}

@media screen and (max-width: 1620px) {
  #explore-page {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 1260px) {
  #explore-page {
    display: block;
  }

  #explore-sidebar {
    width: 100%;
    margin-top: 20px;
  }

  #explore-content {
    padding-top: 10px;
    padding-bottom: 50px;
    width: 82%;
  }

  #explore-navbar {
    display: none;
  }

  #explore-content {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  #explore-page {
    padding-left: 10px;
    padding-right: 10px;
  }

  #explore-navbar h1 {
    font-size: 24px;
  }
}