#top-section {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

#event-banner {
  width: 65%;
}

#event-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

#event-detail  {
  width: 35%;
  padding: 35px;
  box-shadow: 0 0 10px rgba(78, 78, 78, 0.107);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#event-detail h1 {
  --max-lines: 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
  font-size: 28px;
  font-weight: 600;
}

#event-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-section i {
  width: 20px;
  text-align: center;
  color: rgba(3, 83, 164, 1);
}

.info-section p {
  font-size: 18px;
}

#promotor-section {
  margin-top: 50px;
  border-top: dashed 1px rgba(128, 128, 128, 0.456);
}

#promotor-section p {
  margin-top: 20px;
}

#mid-section {
  display: flex;
  gap: 50px;
}

#event-desc {
  width: 65%;
}

#event-desc p {
  font-size: 18px;
}

#event-cart {
  width: 35%;
}

#cart-card {
  position: sticky;
  top: 20px;
  padding: 35px;
  box-shadow: 0 0 10px rgba(78, 78, 78, 0.107);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#cart-card button {
  margin-top: 30px;
  background-color: rgb(3, 83, 164);
  border: none;
  padding: 15px;
  color: white;
  border-radius: 10px;
}

#mobile-tab {
  display: none;
}

#explore-more-events h1 {
  font-size: 25px;
  font-weight: 700;
}

@media screen and (max-width: 1500px) {
  #event-detail  {
    width: 35%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(78, 78, 78, 0.107);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #event-detail h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  #seats-left {
    width: 45%;
  }

  .info-section p {
    font-size: 16px;
  }

  #promotor-section {
    border-top: dashed 1px rgba(128, 128, 128, 0.456);
  }
  
  #promotor-section p {
    margin-top: 20px;
    font-size: 14px;
  }

  #promotor-section h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 1100px) {
  #top-section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #event-banner {
    width: 100%;
  }

  #event-detail {
    width: 100%;
  }

  #event-cart {
    width: 50%;
  }
}

@media screen and (max-width: 850px) {

  #event-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  #event-desc, #event-cart {
    display: none;
  }

  #mobile-tab {
    display: block;
    width: 100%;
  }

  #mobile-tickets button {
    width: 100%;
    margin-top: 30px;
    background-color: rgb(3, 83, 164);
    border: none;
    padding: 15px;
    color: white;
    border-radius: 10px;
  }

  #event-detail h1 {
    font-size: 25px;
    line-height: 38px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  #promotor-section {
    margin-top: 30px;
    border-top: dashed 1px rgba(128, 128, 128, 0.456);
  }
}