.layouting {
  margin: auto;
  max-width: 1272px;
}

@media screen and (max-width: 1620px) {
  .layouting {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 650px)  {
  .layouting {
    max-width: 90%;
    padding-left: 0px;
    padding-right: 0px;
  }
}