#search-card-content {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 5px;
  cursor: pointer;
}

#search-card-content img {
  height: 50px;
}

#search-card-content p {
  font-weight: 500;
}

#search-card-content:hover {
  background-color: rgba(219, 219, 219, 0.237);
  border-radius: 5px;
}

@media screen and (max-width: 650px) {
  #search-card-content p {
    font-weight: 500;
    font-size: 14px;
  }
}